*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 800px;
  margin-left: 40%;
  background-color:#333344;
  border: 2px;
}
.header{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
.header-column{
  padding-top: 25px;
  color: aliceblue;
  font-size:  25px;
}

.header-column-2{
  padding-top: 37px;
  color: gray;
  font-size: 25px;
}
.button-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: hsl(85, 43%, 50%);
  padding: 30px;
  margin: 0 20px;
  border: solid 1px;
  border-color: black;
  border-radius: 10px;
  background-color: black;
}
.row-first{
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  color: gray;
}
.row-first h2{
  margin-right: 33%;
}
.fa-qrcode{
  margin-left: 10%;
  padding-top:5px;
}
.row-second{
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  color: gray;
}
.row-second h2{
  margin-right:33%;
}
.fa-list{
  margin-left:9%;
  padding-top:5px;
}
.row-third{
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  color: gray;
}
.row-third h2{
  margin-right:40%;
}
.fa-clone{
  margin-left:9%;
  padding-top:5px;
}
.row-fourth{
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  color: gray;
}
.row-fourth h2{
  margin-right: 41%;
}
.fa-file-lines{
  margin-left:9%;
  padding-top:5px; 
}
.more-action{
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  color: gray;
}
.more-action h2{
  margin-right: 20%;
}
.fa-angle-down{
  margin-top: 2%;
}
.action{
  display: flex;
  justify-content: space-around;
  margin-top: 30%;
  border-top: solid 1px;
  color: gray;
}
.action-name{
  display: flex;
  flex-direction: column;
  margin-left:5%;
  margin-top: 5%;
}
.angle{
  display: flex;
  flex-direction: column;
  margin-right: 32%;
  margin-top: 7%;
}
.gear{
  margin-right:15%;
  margin-top: 10%;
}

