*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containe{
  background-color: blue;
  border:2px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
}
.header{
  display: flex;
  justify-content: space-between;
}
