*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color:grey
  border:2px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 800px;
  margin-left: 40%;
}
.header{
  display: flex;
  justify-content: space-around;
}
.header-column{
  padding-top: 25px;
}
.header-column-2{
  padding-top: 30px;
}
